.div{
overflow: scroll;
height:300px ;
width:760px ;
background-color:yellow;
color:red ;
border: 3px dotted red;
padding: 10px 10px 10px 10px;
font-size:40px ;}
#p{
color:red;
border:2px dotted red ;
background-color: lightpink;
padding: 10px 10px 10px 10px}
#foot{
font-size:12px;
border-top: 2px solid black;
border-bottom:2px solid black ;
margin-top: 909px;}